<!DOCTYPE html>
<html>
  <head>
    <title>GarbGuess</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- bootstrap user here -->
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
